.filters {
  &__inner {
    display: flex;
    justify-content: space-between;
    @include for_phone {
      flex-direction: column;
      justify-content: space-between;
    }

    .select-box {
      flex-basis: 40%;
      order: 2;
    }

    .search-box {
      height: 100%;
      text-align: center;
      margin-bottom: 20px;
      @include for_tablet {
        margin-bottom: 10px;
      }
      @include for_desktop {
        margin-bottom: 10px;
      }

      input {
        outline: 0;
        border: 0;
        border-bottom: 3px solid #aaa;
        background-color: transparent;
        line-height: 34px;
        height: 34px;
        padding: 0 10px;
        border-radius: 3px;
        transition: border-bottom .15s ease-in-out, box-shadow .15s ease-in-out;

        &:focus {
          border-bottom: 3px solid #000;
          box-shadow: 0 8px 6px -6px #000;
        }
      }

      button {
        background-color: black;
        color: white;
        padding: 5px 10px;
        border: 0;
        margin-left: 10px;
        @include for_phone {
          margin-top: 10px;
        }
      }
    }
  }
}