.loader {
  background: url("https://cdn.dribbble.com/users/1008697/screenshots/2853651/pokeball.gif") center center no-repeat rgb(229, 228, 228);
  height: 600px;
  background-size: contain;
  width: 100%
}