.header {
  &__inner {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: $header_bgc;

    &__logo-wrapper {
      @include for_phone {
        display: none;
      }
    }

    &__logo {
      height: 75px;
    }

    &__title {
      font-family: 'Montserrat', sans-serif;
      color: $header_title_color;

      @include for_phone {
        font-size: 1.3em
      }
    }
  }
}