.divider {
  clear: both;
  height: 1px;
  background-color: $divider_color;
  width: 400px;
  margin: 60px auto 30px;
  @include for_tablet {
    margin: 40px auto 20px;
  }
  @include for_phone {
    width: 250px;
  }
}